.containerWrapper{
  margin-bottom: 50px;

  .cardInfo {
    overflow: hidden;
    padding: 0;
    height: 320px;
    border-color: rgb(65, 65, 65);
    object-fit: contain;
    position: relative;
    
    .cardInfoTransition {
      display: block;
      position: absolute;
      top: 0;

        .flag{
          width: 30px;
          margin-right: 5px;
        }
      }
    }

  .posters{
    overflow: hidden;
    object-fit: contain;


    .imagePoster{
      width: 100%;
    }

    .unknownCard {
      position: relative;
  
      .titleImageUnknown {
        text-align: center;
        color: black;
        width: 100%;
        display: block;
        position: absolute;
        top: 0;
      }
    }
  }
}